

img#btn-pontosturisticos {
position: absolute;
left: 37%;
width: 80px;
height: 80px;
top: 7%;
}

img#btn-utilidadepublica {
position: absolute;
left: 37%;
width: 80px;
height: 80px;
top: 75%;
}

img#btn-hospedagem{
position: absolute;
top:28%;
width: 80px;
height: 80px;
left: 5%;}

img#btn-sobre {
position: absolute;
top: 28%;
width: 80px;
height: 80px;
left: 70%;}              

img#btn-restaurantes {
position: absolute;
top: 55%;
width: 80px;
height: 80px;
left: 70%;}

img#btn-transportes {
position: absolute;
top: 55%;
width: 80px;
height: 80px;
left: 5%;
}
body{
background-repeat: white;}
#top-index-bar {
position: absolute;
border: 1px solid black;
text-align: center;
color: #FFF;
width: 99.5%;
height: 6%;
font-size: 28px;
}

 /*________________texto da pagina*_________________________*/

#txponto
{
font-family: 'Source Sans Pro', sans-serif;
color:#fff;
position: absolute;
top: 21.5%;
left: 41%;
font-size: 13px;

}
#txpontot
{
font-family: 'Source Sans Pro', sans-serif;
color:#fff;
position: absolute;
top: 24.5%;
left: 37%;
font-size: 13px;
}
#txtransporte
{
font-family: 'Source Sans Pro', sans-serif;
color:#fff;
position: absolute;
top:69.5%;
left: 3.5%;
font-size: 13px;
}

#txhospedagem
{
font-family: 'Source Sans Pro', sans-serif;
color:#fff;
position: absolute;
top: 42.5%;
left: 3%;
font-size: 13px;
}

#txrestaurante
{
font-family: 'Source Sans Pro', sans-serif;
color:#fff;
position: absolute;
top: 69.5%;
left: 68%;
font-size: 13px;
}

#txcabralia
{
font-family: 'Source Sans Pro', sans-serif;
color:#fff;
position: absolute;
top: 42.5%;
left: 72%;
font-size: 13px;
}

#txservicos
{
font-family: 'Source Sans Pro', sans-serif;
color:#fff;
position: absolute;
top: 89.5%;
left: 39%;
font-size: 13px;
}

